* {
	font-family: 'Arvo', serif;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
body {
  background-color: #15161b !important;
}

.logo {
	height: 40px;
  margin-right: 20px;
}

.navbar {
	background-color: rgba(21, 22, 27, 0.8); 
	backdrop-filter: blur(10px);
}
.navbar a {
	color: white;
}

main {
	background-image: url("../../assets/pictures/background-galaxy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-content {
	padding-top: 150px;
	// height: 500px;
}

main h1 {
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
main .lead {
	color: white;
	font-size: 20px;
	text-align: center;
	justify-content: center;
}

main .custom-button {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgba(0, 0, 0, 0.5); /* Dark color with low opacity */
	color: #fff; /* Text color */
	opacity: 0.7; /* Opacity value */
	display: block; /* Make the button a block element */
	width: fit-content; /* Adjust the width based on content */
	margin: 0 auto; /* Center the button horizontally */
	text-align: center; /* Center the text within the button */
	padding: 10px 20px; /* Adjust padding as needed */
	border: none; /* Remove border */
	text-decoration: none; /* Remove underline */ 
	border-radius: 20px;
}

.footer {
	font-size: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "~bootstrap/scss/bootstrap";
