body {
  background-color: #15161b !important;
}

.logo {
	height: 40px;
  margin-right: 20px;
}

.navbar {
	background-color: rgba(21, 22, 27, 0.8); /* Set the background color to transparent */
	backdrop-filter: blur(10px); /* Apply a backdrop filter for a blurred effect */
}
.navbar a {
	color: white;
}

main {
	background-image: url("../../assets/pictures/background-galaxy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-content {
	padding-top: 100px;
	height: 500px;
}

main h1 {
	color: white;
}

@import "~bootstrap/scss/bootstrap";
